body{
    background-color: blanchedalmond;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 30px; 
}
header{
     text-align: center;
    background-color: rgb(80, 119, 23);
    
    padding-top: 20px;
    padding-bottom: 15px;
}

h1,h2{
    font-family: 'Crete Round', serif;
}
header h1{
    color: aliceblue;
    font-size: 50px ;
    
}
header img{
    width: 500px;
    height: 300px;
    border-radius: 150px;
    max-width:100%;
    border: 10px solid black;
}
main {
    align-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding:  20px;
}
main img {
    width: 500px;
    height: 300px;
}
h2{
    font-size: 45px;
}
a{
    color: crimson;
}
a:hover{
    color: aqua;
}
footer{
    background-color: burlywood;
    text-align: center;
    color: lightseagreen;
    padding: 50px;

}
footer p {
    margin: 0;
}
p.caption{
    color: rgb(9, 119, 119);
    font-style: italic;
    margin-top: 0;
}